@{
    ViewBag.Title = "Numbers";
}
<html>
    <body>
        <h2>@ViewBag.Message</h2>
        <ul>
        @for (int i = 1; i <= 50; i++)
        {
            <li>@i</li>
        }
        </ul> 
    </body>
</html>